@charset "utf-8";
/* CSS Document */
body {
	background-color: #e75e24;
	font-family: "Roboto", sans-serif;
}
h1 {
	text-align: center;
	font-size: 5em;
	font-family: "Playwrite NO", cursive;
}
#canvas {
	width: 100%;
	display: block;
	border: white 1em solid;
	box-shadow: 0 0 15px 2px black;
}
main {
	margin: auto;
	width: 80vw;
}
footer {
	width: 60vw;
	margin: 3em auto;
}