@charset "utf-8";
/* CSS Document */
body {
	background-color: #BF2C47; 
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
#canvas{
	display: block;
	margin: auto;
	width: 40vw;
	box-shadow: 0 0 20px 2px black;
}
h1 {
	text-align: center;
	font-size: 5em;
	font-family: "Yellowtail", cursive;
}
footer {
	width: 40vw;
	margin: 5em auto 1em;
	
}